/target
/.idea
/Zig.iml
/bin
/src/player/t1.txt
/src/player/t2.txt
/01.mp4
/12.mp4
/13.mkv
/file_example_AVI_1280_1_5MG.avi
/file_example_MOV_1280_1_4MB.mov
/file_example_OGG_1920_13_3mg.ogg
/file_example_WEBM_1920_3_7MB.webm
/file_example_WMV_1280_4_9MB.wmv
/sample_3840x2160.flv
/assets/fonts/文泉驿正黑.ttc
/恶魔法则16.mp4
/武动乾坤第4季12超前版.mp4

/.zig-cache/
